---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../lib/date";
import Link from "./Link.tsx";

type Props = {
  post: CollectionEntry<"blog">;
};

const {
  post: {
    data: { title, date },
    slug,
  },
} = Astro.props;
---

<a
  href={`/blog/${slug}`}
  class="border-b pb-2 transition-colors hover:border-b-primary-200"
>
  <article class="flex items-baseline justify-between">
    <span transition:name={slug}>{title}</span>

    <span class="text-sm text-gray-500">{formatDate(date)}</span>
  </article>
</a>
