---
import { cn } from "../lib/cn";
import { slugifyStr } from "../lib/slugify";

type Props = {
  tag: string;
  isLink?: boolean;
  class?: string;
};

const { tag, isLink = true, class: className } = Astro.props;

const slugifiedTag = slugifyStr(tag);
---

<span
  class={cn(
    "bg-primary-100 border border-solid rounded border-gray-500 text-primary-900 w-fit text-sm px-[0.3em]",
    className
  )}
>
  {
    isLink ? (
      <a href={`/tags/${slugifiedTag}`} class="no-underline">
        #{slugifiedTag}
      </a>
    ) : (
      `#${slugifiedTag}`
    )
  }
</span>
