<div class="rounded border border-gray-500 bg-white p-6">
  <div class="flex items-center gap-2">
    <span class="text-xl">⚡</span>
    <h3 class="!m-0 text-lg font-bold uppercase tracking-wider">TL;DR</h3>
  </div>
  <div>
    <p class="!m-0 leading-relaxed">
      <slot />
    </p>
  </div>
</div>
